@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --link-text-color: #212121;
  --text-color: #757575;
  --backround-text-color: #ffffff;
  --backround-title-footer-color: #2f303a;
  --hover-focus-color: #2196f3;
  --email-phone-footer-color: #ffffff99;
  --backround-our-team-color: #f5f4fa;
}

body {
  font-family: var(--text-font-family);
  background: var(--backround-text-color);
  color: var(--link-text-color);
}

.global-header {
  font-weight: 500;
  font-style: medium;
  font-size: 14px;
  line-height: 1.14;
  background-color: var(--backround-text-color);
}
/*logo*/
.logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-style: bold;
  font-size: 26px;
  line-height: 1.19;
  text-align: left;
  vertical-align: top;
  letter-spacing: 3%;
  text-decoration: none;
}

.logo-web {
  color: var(--hover-focus-color);
}

.logo-studio {
  color: var(--link-text-color);
}

.logo:hover > *,
.logo:focus > * {
  color: var(--hover-focus-color);
}

/*header-navigatin*/
.primary-navigation a {
  color: var(--link-text-color);
  text-align: left;
  vertical-align: top;
  letter-spacing: 2%;
  list-style-type: none;
  text-decoration: none;
}

.primary-navigation a:hover,
.primary-navigation a:focus {
  color: var(--hover-focus-color);
}

.email-header {
  list-style-type: none;
  text-align: left;
  vertical-align: top;
  letter-spacing: 2%;
  text-decoration: none;
  color: var(--text-color);
}

.phone-header {
  list-style-type: none;
  text-align: left;
  vertical-align: top;
  letter-spacing: 2%;
  text-decoration: none;
  color: var(--text-color);
}

.email-header:hover,
.email-header:focus {
  color: var(--hover-focus-color);
}

.phone-header:hover,
.phone-header:focus {
  color: var(--hover-focus-color);
}
/*title*/
.title-section {
  background-color: var(--backround-title-footer-color);
  text-align: center;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  vertical-align: top;
  letter-spacing: 6%;
  color: var(--backround-text-color);
}
/*button*/
.request-service-btn {
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 6%;

  cursor: pointer;
}

.request-service-btn:hover,
.request-service-btn:focus {
  color: var(--backround-text-color);
  background-color: var(--hover-focus-color);
}

/*main-list*/
.list {
  list-style-type: none;
}

.list-title {
  font-weight: 700;
  font-style: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  vertical-align: top;
  letter-spacing: 3%;
}

.list-text {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  vertical-align: top;
  letter-spacing: 3%;
  color: var(--text-color);
}
/*what-we-do-section*/
h2.what-we-do {
  font-weight: 700;
  font-style: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  vertical-align: top;
  letter-spacing: 3%;
}

.img-item {
  list-style-type: none;
}

.team {
  background-color: var(--backround-our-team-color);
}
/*our-team-section*/
h2.our-team {
  font-weight: 700;
  font-style: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  vertical-align: top;
  letter-spacing: 3%;
}

.team-img {
  list-style-type: none;
}
.team-name {
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 1.18;
  vertical-align: top;
  letter-spacing: 3%;
}

.team-profession {
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-color);
}
/*footer*/
.global-footer {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
  background-color: var(--backround-title-footer-color);
}

.logo-studio-footer {
  color: var(--backround-text-color);
}

.logo-studio-footer:hover,
.logo-studio-footer:focus {
  color: var(--hover-focus-color);
}

.map-adress {
  color: var(--backround-text-color);
}

.email-footer {
  color: var(--email-phone-footer-color);
  text-decoration: none;
}

.phone-footer {
  color: var(--email-phone-footer-color);
  text-decoration: none;
}

.email-footer:hover,
.email-footer:focus {
  color: var(--hover-focus-color);
}

.phone-footer:hover,
.phone-footer:focus {
  color: var(--hover-focus-color);
}
/*page-2-portofolio*/
.nav-btn {
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  vertical-align: top;
  letter-spacing: 3%;
  border: none;
  cursor: pointer;
}

.nav-btn:hover,
.nav-btn:focus {
  background-color: var(--hover-focus-color);
  color: var(--backround-text-color);
}

.photo .photo-name {
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  vertical-align: top;
  letter-spacing: 6%;
}

.photo .photo-text {
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  vertical-align: top;
  letter-spacing: 3%;
  color: var(--text-color);
}
